:root {
  --black: #000;
  --white: #fff;
  --orange: #e2560d;
  --darkNavy: #c83803;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./images/nathan-anderson-BisaxHbl8GU-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  font-family: "Urbanist", sans-serif;
  color: var(--white);
}

* {
  margin: 0;
}

main {
  margin: 30px 0px;
}

div#boxWrapper {
  background-image: url("./images/tom-barrett-hgGplX3PFBg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 1200px;
  margin: auto;
  height: 90vh;
  /* align-items: center; */
}

div#inputWrapper {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* background-color: var(--darkNavy); */
  margin: 0;
  padding: 20px;
}

div#dataWrapper {
  /* background-color: var(--orange); */
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: rgba(255, 255, 255, 0);
}

input#locationName {
  width: 100%;
  padding: 10px 5px;
  background: transparent;
  border-bottom: 1px solid var(--white) !important;
  border: none;
  color: var(--white);
  font-size: 0.8rem;
  letter-spacing: 1px;
}

input#locationName:focus-visible {
  outline: none;
}

/* input#locationName::placeholder {
} */

button {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  border: 0;
  width: 50%;
  padding: 10px 5px;
  background-color: var(--darkNavy);
  color: var(--white);
  border-radius: 5px;
  border-bottom: 1px solid var(--darkNavy);
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

button:hover {
  background-color: transparent;
  border-radius: 0;
  transition-duration: 0.5s;
}

i.fa-solid.fa-magnifying-glass {
  position: absolute;
  right: 0;
  left: 5;
  top: 10px;
}

#weatherDetails {
  position: relative;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
}

#weatherDetails h4 {
  padding-bottom: 7px;
  font-size: 1.2rem;
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-bottom: 1px solid var(--white);
  margin-bottom: 20px;
}

#weatherDetails__data p {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 100;
  letter-spacing: 2px;
}

#weatherDetails__data span.values {
  float: right;
}

p.weather {
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  line-height: 3rem;
  margin-bottom: 30px;
}

span.description {
  font-size: 1rem;
  line-height: 1rem;
  /* margin-left: 30px; */
}

img.weather_icon {
  width: 50px;
  height: auto;
  /* position: relative; */
  /* top: 40%;
  left: 34%; */
  filter: brightness(10);
}
